body {
   margin: 0;
  background: #f5f6f8;
  display: flex;
  justify-content: center;
}

/* 앱 전체 감싸는 박스 */
.app {
  width: 100%;
  max-width: 390px;   /* 아이폰 크기 */
  min-height: 100vh;
  background: #fff;
  padding-bottom: 80px;
}
.app-content {
  flex: 1;
}