html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f6f8;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

/* 앱 전체 감싸는 박스 */
.app {
  width: 100%;
  max-width: 390px; /* 아이폰 크기 */
  min-height: 100vh;
  min-height: 100dvh;
  background: #ffffff;
  padding-bottom: 80px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  min-height: 0;
  background: #ffffff;
}